// app global css in SCSS form
.header{
    font-size: 20px;
}
.card{
    background: $info;
    border-radius: 4px;
    padding: 15px;
}

.text-body{
    font-size: 15px;
}
.icon{
    padding: 5px;
    background-color: white;
    border-radius: 100px;
}